body {
  background: #f2f2f2;
}
.beifeng .navheader {
  height: 40px;
  background: #fecb16;
  line-height: 38px;
  text-align: center;
}
.beifeng .navheader span {
  margin-right: 10px;
  color: #ff0000;
}
.beifeng .navbar-default {
  background: #000000;
  padding-left: 10px;
  border-color: #000000;
  border-radius: 0;
}
.beifeng .navbar-header a {
  float: left;
  margin-right: 30px;
}
.beifeng .navbar-collapse .search {
  float: right;
  margin-top: 10px;
}
.beifeng .navbar-collapse .search .txt {
  border: 0;
  background: #000000;
  border-bottom: 1px #fff solid;
  outline: none;
}
.beifeng .navbar-collapse .search .img {
  display: inline-block;
  margin-top: 5px;
}
.beifeng .navbar-collapse .dao {
  float: right;
}
.beifeng .navbar-collapse .dao .nav li {
  float: left;
}
.beifeng .navbar-collapse .daohang ul li a {
  color: #fff;
}
.beifeng .navbar-collapse .daohang ul li a:hover {
  color: #fff;
  background: #3f3f3f;
}
.beifeng .navbar-collapse .daohang ul .active a {
  background: #3f3f3f;
}
.solid-line {
  border: 1px #dedede solid;
}
.blank10 {
  height: 10px;
}
.bei {
  margin-top: 95px;
  background: #fff;
}
.bei .panel {
  margin-bottom: 0;
  box-shadow: none;
}
.bei .panel-default {
  border: 0;
  margin-bottom: 0;
}
.bei .panel-default strong {
  float: left;
  line-height: 50px;
  margin-right: 20px;
  width: 50px;
  height: 100px;
}
.bei .panel-default .navbar-nav {
  float: none;
}
.bei .panel-default ul li a {
  color: #07111b;
}
.bei .panel-default ul .active a {
  background: #188eee;
  color: #fff;
}
.juedui1 {
  width: 70px;
  background: #fff;
  border: 1px #dedede solid;
  position: absolute;
  top: 250px;
  left: 3px;
}
.juedui1 .jue {
  text-align: center;
  line-height: 25px;
}
.juedui1 .jue .img {
  border-bottom: 1px #dedede solid;
  padding-top: 10px;
  padding-bottom: 6px;
  margin: 0 2px 0 2px;
}
.juedui1 .jue .img p {
  font-size: 13px;
}
.main {
  margin-top: 40px;
}
.main i {
  margin-left: 40px;
}
.footer {
  background: #fff;
}
.footer p {
  padding-top: 32px;
  margin-left: 34px;
}
.footer .friend-link {
  padding-top: 17px;
  padding-bottom: 33px;
  border-bottom: 1px solid #eaeaea;
}
.footer .friend-link li {
  display: inline-block;
  color: #999;
  padding-right: 34px;
  cursor: pointer;
}
.footer .mylink {
  padding-top: 40px;
}
.footer .mylink a {
  text-decoration: none;
}
.footer .mylink .col1 {
  display: inline-block;
}
.footer .mylink .col1 a {
  display: block;
  font-size: 14px;
  padding-bottom: 18px;
  color: #999;
}
.footer .mylink .col2 {
  display: inline-block;
  padding-right: 40px;
}
.footer .mylink .col2 a {
  display: block;
  font-size: 14px;
  padding-bottom: 18px;
  color: #999;
}
.footer .mylink .col4 {
  display: inline-block;
  padding-right: 30px;
  border-right: 1px solid #eaeaea;
}
.footer .mylink .col4 a {
  display: block;
  font-size: 14px;
  padding-bottom: 18px;
  color: #999;
}
.footer .mylink .col5 {
  display: inline-block;
  padding-left: 30px;
  margin: 0;
}
.footer .mylink .col5 a {
  display: block;
  font-size: 14px;
  color: #000;
}
.footer .mylink .col5 button {
  width: 140px;
  height: 27px;
  line-height: 24px;
  color: #188eee;
  font-size: 14px;
  border: 1px solid #188eee;
  background: #fff;
  margin-top: 11px;
}
.footer .mylink .col6 {
  display: inline-block;
}
.footer .mylink .col6 a {
  display: inline-block;
}
.footer .qq-group {
  padding: 50px 0 0;
  text-align: center;
}
.footer1 {
  padding-top: 38px;
  padding-bottom: 41px;
  background: #fafafa;
}
.footer1 a {
  text-decoration: none;
}
.footer1 p {
  color: #9f9999;
}
